[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "libs/libseccomp"]
	path = libs/libseccomp
	url = https://github.com/seccomp/libseccomp
[submodule "libs/pistache"]
	path = libs/pistache
	url = https://github.com/oktal/pistache.git
[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
